    .col-md {
        float: right;
        align-content: center;
    }
    
    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
    }
    
    #description {
        background-color: #F8C8C6;
        padding: 15px;
    }
    
    #header {
        padding: 15px;
        background-color: #CBD5F0;
    }